VisualElement {
}

.game-text {
    -unity-font: url("project://database/Assets/Fonts/lumierepolis-font/Lumierepolis-Yqvn8.ttf?fileID=12800000&guid=e65da2d9dd7f6e745b668a7b9a836954&type=3#Lumierepolis-Yqvn8");
    -unity-font-definition: initial;
    -unity-text-outline-width: 0.5px;
    -unity-text-outline-color: rgb(13, 113, 176);
    -unity-font-style: normal;
    color: rgb(255, 255, 255);
}
